
h2 {
  margin-bottom: 40px;
}

div#photoGroup {
  font-size: 0;
}

a.photoBlocks {
  font-size: 64px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 64px;
  width: calc(50% - 32px);
  margin-right: 64px;
}

a.photoBlocks:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 70em) {
  a.photoBlocks {
    width: calc(25% - 48px);
  }
  
  a.photoBlocks:nth-of-type(2n) {
    margin-right: 64px;
  }
  
  a.photoBlocks:nth-of-type(4n) {
    margin-right: 0;
  }
}

a.photoBlocks:hover img {
  transform: scale(1.08);
}

figure {
  margin: 0;
  position: relative;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}

.text {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  z-index: 50;
  position: absolute;
  color: black;
  font-size: 22px;
  font-weight: bold;
  left: calc(10%);
  right: calc(10%);
  bottom: 35%;
  top: 40%;
  /*margin: auto;*/
  padding: 5px;
  text-align: center;
  /*line-height: 35px;*/
  vertical-align: middle;
}
