.navbar {
	background: transparent;
	background-color: transparent;
	border-color: transparent;
}

.navbar li {
	color: #000;
}

.navbar .seperateLineInclude { 
	border-right:solid 2px grey;
} 

.navbar-nav > li > a, .navbar-brand {
    padding-top:2px !important; padding-bottom:2 !important;
    height: 24px;
}
.navbar {min-height:24px !important;}

#manageAnchor {
	padding-left: 0px;
}

.navbar .container-fluid {
	padding-left: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: blue;
}