<html>
    <head>
      <title>All Streams</title>
      <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static_files/css/allStreams.css">
    </head>
    <body>
    	<div class="container">
    		{% include 'header.html' %}
        <div class="row">
          <h2>View All Streams</h2>
        </div>
        <div id="photoGroup">
        {% for i in range(names|length) %}
            <a href="/view_stream?stream_name={{ names[i] }}&All=0" class="photoBlocks">
              <figure>
                  <img src="{{covers[i]}}" alt="Cinque Terre" class="img-thumbnail">
                  <p class="text">{{names[i]}}</p>
              </figure>
            </a>
        {% endfor %}
        </div>
    	</div>
    </body>
</html>
