<div class="row" id="header">
  {% if not login_page %}
    <h1 class="display-3">Connex.us</h1>
  {% endif %}
  <nav class="navbar transparent navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="seperateLineInclude"><a href="/manage" id="manageAnchor">Manage</a></li>
        <li class="seperateLineInclude"><a href="/create_stream_menu">Create</a></li>
        <li class="seperateLineInclude"><a href="/view_all">View</a></li>
        <li class="seperateLineInclude"><a href="#">Search</a></li>
        <li class="seperateLineInclude"><a href="#">Trending</a></li>
        <li class="seperateLineInclude"><a href="#">Social</a></li>
        <li class="seperateLineInclude"><a href="{{ signurl|safe }}">{{ signtext }}</a></li>
      </ul>
    </div>
  </nav>
</div>
