<html>
    <head>
        <title>Login Page</title>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="/static_files/css/index.css"> -->
        <link rel="stylesheet" href="/static_files/css/login.css">
    </head>
    <body>
    	<div class="container">
          {% include 'header.html' %}
	    	<div class="jumbotron">
			  <h1>Welcome to Connexus!</h1>
			  <p>Share the world!</p>
			</div>
			  <a class="btn btn-primary" href="{{ signurl|safe }}" style="margin-left: 100px">{{ signtext }}</a>
    	</div>
    </body>
</html>
