<html>
    <head>
        <title>Streams Search</title>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static_files/css/header.css">
        <link rel="stylesheet" href="/static_files/css/search.css">
        <link rel="stylesheet" href="/static_files/css/allStreams.css">
    </head>
    <body>
        <div class="container">
            {% include 'header.html' %}
            <form class="form-group" action="/search" method="get">
                <input type="text" class="form-control" name="search" value="{{query}}">
                <button type="submit" class="btn">Search</button>
            </form>
            {% if query %}
                <p> {{ count }} results for {{ query }}</p>
                <p>click on an image to view stream</p>
                <div id="photoGroup">
                    {% for i in range(names|length) %}
                    <div class="row">
                        <a href="/view_stream?stream_name={{names[i]}}" class="photoBlocks">
                            <figure>
                                <img src="{{covers[i]}}" alt="">
                                <p class="text">{{names[i]}}</p>
                            </figure>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </body>
</html>
