<html>
    <head>
        <title>Photo Upload</title>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static_files/css/stream.css">
        <link rel="stylesheet" href="/static_files/css/header.css">
        <!-- <link rel="stylesheet" href="/static_files/css/index.css"> -->
    </head>
    <body>
        <div class="container">
          {% include 'header.html' %}
          <div class="row">
              {% if All==0 %}
                {% if photo_urls|length > 3 %}
                  {% for i in range(3) %}
                      <img src="{{ photo_urls[i] }}"></img>
                  {% endfor %}
                {% else %}
                  {% for i in range(photo_urls|length) %}
                      <img src="{{ photo_urls[i] }}"></img>
                  {% endfor %}
                {% endif %}
                <a href="/view_stream?stream_name={{ stream_name }}&All=1" class="button next">More Pictures</a>
              {% else %}
                {% for i in range(photo_urls|length) %}
                    <img src="{{ photo_urls[i] }}"></img>
                {% endfor %}
              {% endif %}
          </div>
          <form action="/send_photo" method="post" enctype="multipart/form-data">
              <div class="row" id="uploadRow">
                  <div class="col-sm-6" id="fileUpload">
                      <!-- <input type="text" class="form-control" name="stream_name" placeholder="Stream Name"/> -->
                      <div class="row">
                          <div class="col-sm-2">
                              <span class="btn btn-success btn-file">
                                  Browse... <input type="file" name="photo_data">
                              </span>
                          </div>
                          <div class="col-sm-10">
                              <textarea class="form-control" 
                                        placeholder="Comments" 
                                        rows="1"></textarea>
                          </div>
                          <input type="hidden" name="stream_name" value="{{ stream_name }}"/>
                      </div>
                      <br/>
                      <button type="submit" class="btn btn-primary" value="Create">Upload file</button>
                  </div>
              </div>
          </form>
            <div class="row">
                <a class="btn btn-primary" href="/invite?stream_name={{ stream_name }}">Subscribe</a>  
            </div>
        </div>
    </body>
</html>
