<html>
    <head>
        <title>Photo Upload</title>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static_files/css/stream.css">
        <link rel="stylesheet" href="/static_files/css/header.css">
        <link rel="stylesheet" href="/static_files/css/dropzone.css">  
        <script src="/static_files/js/dropzone.js"></script>
        <!-- <link rel="stylesheet" href="/static_files/css/index.css"> -->
    </head>
    <body>
        <div class="container">
          {% include 'header.html' %}
          <div class="row">
              {% if All==0 %}
                {% if photo_urls|length > 3 %}
                  {% for i in range(3) %}
                      <img src="{{ photo_urls[i] }}"></img>
                  {% endfor %}
                {% else %}
                  {% for i in range(photo_urls|length) %}
                      <img src="{{ photo_urls[i] }}"></img>
                  {% endfor %}
                {% endif %}
                <a href="/view_stream?stream_name={{ stream_name }}&All=1" class="button next">More Pictures</a>
              {% else %}
                {% for i in range(photo_urls|length) %}
                    <img src="{{ photo_urls[i] }}"></img>
                {% endfor %}
              {% endif %}
          </div>
          <br/>
          <form action="/send_photo" class="dropzone" method="post" enctype="multipart/form-data" style="width:53.5%">
                <div class="row">
                          <div class="col-sm-2">
                               <div class="fallback">
                                   <input type="file" name="photo_data" multiple>
                               </div>
                          </div>
                          <input type="hidden" name="stream_name" value="{{ stream_name }}"/>
                </div>
          </form>
            <!-- div class="row">
                <button type="submit" class="btn btn-md btn-success" value="Create">Add Files</button>
                <button type="submit" class="btn btn-md btn-info">Start Uploading</button>
                <button type="submit" class="btn btn-md btn-danger">Cancel Upload</button>
                <button type="submit" class="btn btn-md btn-inverse">Delete</button>
            </div-->
            <br/>
            <div class="row">
                <a class="btn btn-primary" href="/invite?stream_name={{ stream_name }}">Subscribe</a>  
            </div>
        </div>
    </body>
</html>
