<html>
    <head>
        <title>Trending Streams</title>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static_files/css/trending.css">
        <!-- <link rel="stylesheet" href="/static_files/css/index.css"> -->
    </head>
    <body>
        <div class="container">
            {% include 'header.html' %}
            <div class="row"><h2>Top 3 Trending Streams</h2></div>
            <div class="row" id="photoGroup">
                <div class="col-sm-9">
                {% for i in range(names|length) %}
                    <a href="/view_stream?stream_name={{ names[i] }}&All=0" class="photoBlocks">
                        <figure>
                          <img src="{{covers[i]}}" alt="">
                          <p class="text">{{names[i]}}</p>
                          <figcaption>{{ counts[i] }} views</figcaption>
                          <figcaption>in past hour</figcaption>
                        </figure>
                    </a>
                {% endfor %}
                </div>
                <div class="col-sm-3">
                    <form action="/update_trending_info" method="get">
                      <div class="checkbox">
                        <label>
                            {% if duration == 0 %}
                            <input type="radio" name="interval" value="0" checked/>
                            {% else %}
                            <input type="radio" name="interval" value="0"/>
                            {% endif %}
                            No reports
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                            {% if duration == 300 %}
                            <input type="radio" name="interval" value="300" checked/>
                            {% else %}
                            <input type="radio" name="interval" value="300"/>
                            {% endif %}
                            Every 5 minutes
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                            {% if duration == 3600 %}
                            <input type="radio" name="interval" value="3600" checked/>
                            {% else %}
                            <input type="radio" name="interval" value="3600"/>
                            {% endif %}
                            Every 1 hour
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                            {% if duration == 86400 %}
                            <input type="radio" name="interval" value="86400" checked/>
                            {% else %}
                            <input type="radio" name="interval" value="86400"/>
                            {% endif %}
                            Every day
                        </label>
                      </div>
                      <h5>Email trending report</h5>
                      <button type="submit" class="btn btn-primary" >Update rate</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
