<html>
    <head>
        <title>Trending Streams</title>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static_files/css/trending.css">
        <link rel="stylesheet" href="/static_files/css/header.css">
        <!-- <link rel="stylesheet" href="/static_files/css/index.css"> -->
    </head>
    <body>
        <div class="container">
            {% include 'header.html' %}
            <div class="row"><h2>Top 3 Trending Streams</h2></div>
            <div class="row" id="photoGroup">
                <div class="col-sm-9">
                    <a href="#" class="photoBlocks">
                        <figure>
                          <img src="https://i.pinimg.com/736x/bc/f0/4e/bcf04eafebdf707b8d900f02e6d8bd70--photo-tag-touch-me.jpg" alt="">
                          <p class="text">Text to overlay</p>
                          <figcaption>1356 views</figcaption>
                          <figcaption>in past hour</figcaption>
                        </figure>
                    </a>
                    <a href="#" class="photoBlocks" align="top">
                        <figure>
                          <img src="https://cdn-images-1.medium.com/max/1600/1*mONNI1lG9VuiqovpnYqicA.jpeg" alt="">
                          <p class="text">Text to overlay</p>
                          <figcaption>44 views</figcaption>
                          <figcaption>in past hour</figcaption>
                        </figure>
                    </a>
                    <a href="#" class="photoBlocks">
                        <figure>
                          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" alt="">
                          <p class="text">Text to overlay</p>
                          <figcaption>0 views</figcaption>
                          <figcaption>in past hour</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-sm-3">
                    <form action="#" method="post">
                      <div class="checkbox">
                        <label><input type="checkbox" value="">No reports</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">Every 5 minutes</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">Every 1 hour</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">Every day</label>
                      </div>
                      <h5>Email trending report</h5>
                      <button type="submit" class="btn btn-primary" value="#">Update rate</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
